body{
    background-color:lightslategray;
    font: 20px;
}
img {
    max-width: 100%;
}
a {
    color:cyan;
}
a :hover {
    color: mediumblue;
    text-decoration: slategray;
}
#container {
    width: 75%;
    margin: 0px auto;
    border: 2px solid darkturquoise;
    padding: 20px;
    background-color: slategray;
}

header {
    font-size: 60px;
    text-align: center;
    color: darkturquoise;
   
}
header h1 {
    color: aqua;
    font-size: 60px;
    text-align: center;
}

nav {
    text-align: center;
    
}

nav a {
    color: cyan;
    font-size: 30px;
    margin: 0 20px;
    padding:  30px;
    border-radius:  10px 10px 10px 10px;
}

nav a:hover {
    background-color: cyan;
    color: darkslategray;
    text-decoration: darkturquoise;
    padding: 20px 60px;
}

main {
  background-color: lightslategray;  
  margin: 10px;
  padding: 10px;
  border: 2px solid darkturquoise;
  color: cyan;
  text-align: center;
  border-radius: 20px;
}
main h2 {
    color: darkturquoise;
    text-align: center;
    font-size: 40px;
}

main img {
    border-radius: 20px;
    width: 65%;
    display: block;
    border-radius: 20px;
}

img {
    border: 2px solid darkturquoise;
    border-radius: 20px;
}
        

footer {
    padding: 40px 0;
    text-align: center;
    color: darkslategray;
    background-color: darkturquoise;
}

.imgstyle {
    border: 4px solid cyan;
    box-shadow:  5px 10px 5px darkslategrey;
}

.contact {
    text-align: center;
}

main a:hover {
    color: cyan;
}
