/* Global Styles */

body {
    background-color: black;
}

img {
    max-width: 100%;
}

a {
    color:beige;
}

a :hover {
    color: olive;
    text-decoration: none;
}

h1 {
    color: beige;
}

/* Mobile Styles */

#container {
    margin: 10px;
}


header {
    background-color: rgb(32, 35, 77);
    padding: 40px 0;
    text-align: center;
}

nav {
    background-color: rgb(55, 75, 14);
    text-align: center;
}

nav ul {
    padding: 0%;
    list-style-type: none;
}

nav li {
    display: block;
}

nav li a {
    display: block;
    padding: 10px 0;
    border-top: 2px solid rgb(32, 35, 77);
    font-size: 1.5em;
    font-weight: bold;
    text-decoration: none;
    text-shadow: 1px 1px 1px black;
    line-height: 50px;
    height: 50px;
    margin: 5px 0;
}

nav ul a:hover {
    background-color:darkolivegreen;
    color: blanchedalmond;
}

main {
    background-color: darkolivegreen;
    padding: 20px;
    margin: 10px;
    color: beige;
}

footer {
    background-color: rgb(32, 35, 77);
    text-align: center;
    padding: 10px 0;
    margin: 10px;
}