/* Mobile Styles */

#container {
    margin: 5px;

}

header {
    background-color: rgb(23, 124, 124);
    text-align: center;
    padding: 40px 0;
}

header h1 {
    color: black;
}

nav {
    background-color: blueviolet ;
}

section {
    background-color: rgb(47, 88, 5);
    padding: 10px;
    margin: 5px;
}

section h2 {
    text-align: center;
    color: black;
}

footer {
    background-color: rgb(23, 124, 124);
    color: black;
    padding: 40px;
    text-align: center;
}

#menu {
    display: none;
}

