body {
    background-color: lightgray;
    font-size: 20px;
}
img {
    max-width: 100%;
}
a {
    color: steelblue;
}
a :hover {
    color:darkolivegreen;
    text-decoration: cornsilk;

}
#container {
    width: 75%;
    margin: 0px auto;
    border: 2px solid darkgreen;
    padding: 20px;
    background-color: dimgray;

}
header {
    font-size: 60px;
    text-align: center;
    color: darkgreen;
}