/* Global Styles*/


/* Mobile Styles */

#container {
    margin: 5px;

}

header {
    background-color:lightblue;
    text-align: center;
    padding: 40px 0;
}

header h1 {
    color: black;
}

nav {
    background-color: black;
    color: black;
}

section {
    background-color: lightblue;
    padding: 10px;
    margin: 5px;
}

section h2 {
    text-align: center;
    color: black;
}

footer {
    background-color: lightblue;
    color: black;
    padding: 40px;
    text-align: center;
}

#menu {
    display: none;
    
}

.button {
    padding: 10px;
    background-color: blanchedalmond;
    color: black;
    text-align: center;
}


img {
    max-width: 100%;
}



/* Tablet Styles */

@media only screen and (min-width: 768px) {
    .slicknav_menu {
        display: none;
    }

    #menu {
        display: block;
    }

    nav {
        text-align: center;
    
    }

    nav ul {
        list-style-type: none;
        padding: 0;

    }

    nav li {
        display: inline-block
    }

    nav li a {
        display: block;
        background-color:lightblue;
        color: black;
        padding: 10px;
        width: 150px;
    }

    .button {
        padding: 10px;
        background-color: blanchedalmond;
        color: black;
        text-align: center;
       
    }

    

    img {
        max-width: 100%;
    }
}

/* Desktop Styles */

@media only screen and (min-width:1024px) {
    #container {
        width: 75%;
        margin: 20px auto;
    }

    .button {
        padding: 10px;
        background-color: blanchedalmond;
        color: black;
        text-align: center;
    }

  

    img {
        max-width: 100%;
    }
}
